.product__select__header {
  height:100px;
}
.product__select__header > div {
  position:fixed;
  width:100%;
  padding:10px 0;
  top:0;
  left:0;
  z-index:1;
  background:green;
  text-align:center;
}
.product__select__header > div > span {
  display:block;
  padding:0 10px 10px 10px;
  color:white;
}