.product-edit {
  padding-bottom:50px;
}
.product-edit h2 {
  margin:0;
  padding:30px 0;
}
.product-edit__photos {
  background:#eee;
  padding:0 0 50px 0;
  margin-top:50px;
}
.product-edit__photos:after {
  content: '';
  display: block;
  clear: both;
}
.product-edit__photo {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center center;
  text-align:center;
  position:relative;
}
.product-edit__photo svg {
  width:100px;
  height:100px;
  margin-top:75px;
  fill:#bbb;
}
.product-edit__photo span {
  display:block;
}
.product-edit__photo input {
  opacity:0;
  width:250px;
  height:250px;
  cursor:pointer;
  position:absolute;
  top:0;
  left:0;
}
.product-edit__form__field {
  margin: 0 0 20px 0;
}
.product-edit__form__field label {
  display:block;
  padding-bottom:8px;
  font-size:.8em;
  color:#999;
}
.product-edit__form__field input[type="text"],
.product-edit__form__field input[type="number"],
.product-edit__form__field select {
  border:none;
  background:#f2f2f2;
  border:2px solid #ccc;
  border-radius:3px;
  font-size:1em;
  width:100%;
  padding:10px 0;
}
.product-edit__form__field input[type="checkbox"] + label {
  margin:20px 0;
}
@media screen and (min-width:792px) {
  .product-edit__form__field {
    display:flex;
  }
  .product-edit__form__field label {
    flex: 0 0 200px;
    padding-top:20px;
  }
  .product-edit__form__field input[type="text"],
  .product-edit__form__field input[type="number"],
  .product-edit__form__field select {
    flex-grow:1;
    padding:20px;
  }
  .product-edit__form__field input[type="checkbox"] + label {
    left:200px;
    margin: 5px 0;
  }
}