.offer-edit {
  margin-top:50px;
  padding:50px 0;
  background:#222;
}
.offer-area {
  background:#222;
}
.offer-edit__add-product {
  text-align: center;
  padding: 50px 0;
}
.offer-edit__product {
  width: 200px;
  height: 200px;
  margin: 0 auto 1px;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.offer-edit__product__title {
  position: absolute;
  background: white;
  padding: 5px;
  bottom: 20px;
  left: 0;
  font-weight: bold;
}

.offer-edit__product__price {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 100px;
  display: table;
}
.offer-edit__product__price__content {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}
.offer-edit__product__price__precise {
  display: block;
  font-size: 0.9em;
}
.offer-edit__product__price__initial {
  display: block;
  text-decoration: line-through;
}
.offer-edit__product__price__final {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
}

.product-action {
  right: 0px;
  position: absolute;
  width: 30px;
  height: 30px;
}

.top-right__button {
  position: absolute;
  right: 1.25rem;
  width: 2.7rem;
  background-color: red;
  color: #fff;
}

@media screen and (min-width: 600px) {
  .offer-edit__product {
    width: 300px;
    height: 300px;
  }
}
.offer-edit__products-list {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
  overflow: scroll;
}
.offer-edit__products-list .product:first-child {
  margin-top: 50px;
}
.offer-edit__products-list__close {
  position: fixed;
  z-index: 2;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}


span.product-offer-selected {
  position: absolute;
  right: 0px;
  top: 0px;
  background: #f77336;
  padding: 2px;
  color: #fff;
}

.top-right-submit {
  position: fixed;
  right: 5px;
  padding: 5px;
  top: 48px;
  z-index: 9999;
  background-color: #f77336;
  border-radius: 4px;
}

.top-right-submit > button {
  margin: 4px;
  font-size: 1.1rem;
  width: 7rem;
  height: 2rem;
}
