.nav {
  background: #0098d5;
}
.nav:after {
  content: '';
  display: block;
  clear: both;
}
.nav__left {
  float: left;
}
.nav__right {
  float: right;
}

button.link {
  color: white;
  display: inline-block;
  padding: 10px 15px 12px 15px;
  text-decoration: none;
  position:relative;
  align-items: normal;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(0, 0, 238);
  border-style: none;
  box-sizing: content-box;
  cursor: pointer;
  font: inherit;
  font-size:.8em;
  outline:none;
  height: auto;
  perspective-origin: 0 0;
  text-align: start;
  transform-origin: 0 0;
  width: auto;
  -moz-appearance: none;
  -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
  -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
  overflow:hidden;
}
button.link:after {
  content:'';
  position:absolute;
  bottom:-3px;
  height:3px;
  width:100%;
  background:rgba(255,255,255,.5);
  left:0;
}
button.link svg {
  display:none;
  position:absolute;
  top:15px;
  left:15px;
  width:25px;
  height:25px;
  fill:white;
  opacity:.5;
}
@media screen and (min-width:768px) {
  button.link {
    padding: 20px 25px 22px 53px;
    font-size:.9em;
  }
  button.link svg {
    display:block;
  }
}

/* Mozilla uses a pseudo-element to show focus on buttons, */
/* but anchors are highlighted via the focus pseudo-class. */

@supports (-moz-appearance: none) {
  /* Mozilla-only */
  button.link::-moz-focus-inner {
    /* reset any predefined properties */
    border: none;
    padding: 0;
  }
  button.link:focus {
    /* add outline to focus pseudo-class */
    outline-style: dotted;
    outline-width: 1px;
  }
}

button.link.active:after {
  bottom:0;
}
button.link.active  {
  background: #f77336;
  color: white;
}
button.link.active svg {
  opacity:1;
}
