.authentication {
  padding:50px 20px 0;
}
.authentication h1 {
  text-align: center;
  font-weight:normal;
  margin-bottom:50px;
  font-size:1.7em;
}
@media screen and (min-height:600px) {
  .authentication {
    padding:100px 20px 0;
  }
}
@media screen and (min-width:360px) {
  .authentication h1 {
    font-size:2em;
  }
}
.authentication form {
  width:100%;
  max-width: 300px;
  margin: 0 auto;
  margin: 0 auto;
}
.authentication form input[type='text'],
.authentication form input[type='password'] {
  width:90%;
  margin:0 auto 10px;
  display:block;
  padding:12px 0;
  border:2px solid #ccc;
  border-radius:3px;
  text-align:center;
  font-size:1.2em;
  background:#f2f2f2;
}
.authentication form input[type='submit'] {
  display:block;
  width:90.5%;
  background:#0098d5;
  margin:0 auto;
  padding:12px 0;
  border:2px solid #0098d5;
  box-shadow: 5px 5px 0 rgba(0,0,0,.1);
  color:white;
  font-size:1.2em;
  border-radius:3px;
  cursor:pointer;
}
.authentication__error {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  background: #fcc;
  color: red;
  padding: 5px 0;
  margin-bottom: 10px;
}