/* Global */

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 1240px) {
  .wrapper {
    padding: 0;
  }
}

/* Authentication */

.authentication {
  display: table;
  height: 100vh;
  width: 100%;
}
.authentication__content {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.authentication h1 {
  text-align: center;
}
.authentication form {
  width: 300px;
  padding: 20px 0;
  margin: 0 auto;
  background: #0098d5;
  margin: 0 auto;
  text-align: center;
}
.authentication form input[type='text'],
.authentication form input[type='password'] {
  padding: 5px;
  margin-bottom: 5px;
}
.authentication form input[type='submit'] {
  margin-top: 10px;
  padding: 5px 30px;
}
.authentication__error {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  background: #fcc;
  color: red;
  padding: 5px 0;
  margin-bottom: 10px;
}

/* Header */

.nav {
  background: #0098d5;
}
.nav:after {
  content: '';
  display: block;
  clear: both;
}
.nav__left {
  float: left;
}
.nav__right {
  float: right;
}
/* Product list */
.product__create {
  text-align: center;
  padding: 50px 0;
}
.product {
  border: 1px solid #666;
  background: white;
  padding: 0 0 0 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
  margin: 0 0 20px 0;
  overflow: hidden;
}
.product:hover {
  background: #eee;
}
.product__image {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}
.product__price__initial {
  text-decoration: line-through;
}
.product__price__final {
  font-weight: bold;
}
.product__description {
  margin: 0;
  padding: 10px 10px 0 30px;
}
.product__info--secondary {
  display: none;
}
@media screen and (min-width: 600px) {
  .product {
    height: 200px;
    padding: 0 0 0 200px;
  }
  .product__image {
    width: 200px;
    height: 200px;
  }
  .product__info--secondary {
    display: list-item;
  }
}

/* Offers list */

.offers__add {
  text-align: center;
  padding: 50px 0;
}
.offer {
  border: 1px solid #666;
  padding: 0 0 10px 0;
  margin: 0 0 20px 0;
  cursor: pointer;
}
.offer:hover {
  background: #eee;
}
.offer:after {
  content: '';
  display: block;
  clear: both;
}
.offer__date {
  padding: 10px 0 0 10px;
}
.offer__product {
  float: left;
  margin: 10px 0 0 10px;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center center;
}

/* Offer edition */

.offer-edit__export {
  text-align: center;
  padding: 50px 0 0 0;
}
.offer-edit__add-product {
  text-align: center;
  padding: 50px 0;
}
.offer-edit__product {
  width: 200px;
  height: 200px;
  margin: 0 auto 4px;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.offer-edit__product__title {
  position: absolute;
  background: white;
  padding: 5px;
  bottom: 20px;
  left: 0;
  font-weight: bold;
}

.offer-edit__product__price {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 100px;
  display: table;
}
.offer-edit__product__price__content {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}
.offer-edit__product__price__precise {
  display: block;
  font-size: 0.9em;
}
.offer-edit__product__price__initial {
  display: block;
  text-decoration: line-through;
}
.offer-edit__product__price__final {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
}

.product-action {
  right: 0px;
  position: absolute;
  width: 30px;
  height: 30px;
}

.offer-edit__product__delete {
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 600px) {
  .offer-edit__product {
    width: 300px;
    height: 300px;
  }
}
.offer-edit__products-list {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
  overflow: scroll;
}
.offer-edit__products-list .product:first-child {
  margin-top: 50px;
}
.offer-edit__products-list__close {
  position: fixed;
  z-index: 2;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

/* Product edit */

.product-edit {
  margin-bottom: 20px;
}
.product-edit__photos:after {
  content: '';
  display: block;
  clear: both;
}
.product-edit__photo {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center center;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
}
.product-edit__photo__delete {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
}
.product-edit__photo__add {
  width: 250px;
  height: 250px;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  background: #eee;
  font-size: 1em;
}
.product-edit__form__field {
  margin: 0 0 20px 0;
}
.product-edit__form__field:after {
  content: '';
  display: block;
  clear: both;
}
.product-edit__form__field label {
  float: left;
  width: 200px;
}
.product-edit__form__field input,
.product-edit__form__field select {
  float: left;
}
.product-edit__form__save {
  padding: 10px 20px;
}

button.link {
  color: white;
  display: inline-block;
  padding: 10px;
  padding-bottom: 12px;
  text-decoration: none;

  align-items: normal;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(0, 0, 238);
  border-style: none;
  box-sizing: content-box;
  cursor: pointer;
  font: inherit;
  height: auto;
  perspective-origin: 0 0;
  text-align: start;
  transform-origin: 0 0;
  width: auto;
  -moz-appearance: none;
  -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
  -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
}

/* Mozilla uses a pseudo-element to show focus on buttons, */
/* but anchors are highlighted via the focus pseudo-class. */

@supports (-moz-appearance: none) {
  /* Mozilla-only */
  button.link::-moz-focus-inner {
    /* reset any predefined properties */
    border: none;
    padding: 0;
  }
  button.link:focus {
    /* add outline to focus pseudo-class */
    outline-style: dotted;
    outline-width: 1px;
  }
}

button.link.active {
  background: #f77336;
  color: white;
  font-weight: bold;
}

button.link.active:hover {
  background: #f88e5d;
}

button.link:hover {
  background-color: #00aff5;
}

span.product-offer-selected {
  position: absolute;
  right: 0px;
  top: 0px;
  background: #f77336;
  padding: 2px;
  color: #fff;
}

div.product.selected {
  border: 1px solid #f77336;
}
